{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Quotes and Cloud | Disclaimer</title>
<style>
    #img-abt {
        height: 120px;
    }
</style>
{% endblock head %}
{% block body %}
<nav class="navbar navbar-light bg-light">
    <div class="container py-3">
        <div class="d-flex justify-content-start">
            <div class="coc">
                <h3>Disclaimer</h3>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div class="coc">
                <a href="/"><i class="fa fa-home"></i></a> <i class="fa fa-angle-right"></i> <a href="/disclaimer">Disclaimer</a>
            </div>
        </div>
    </div>
</nav>

<div class="container my-5">
    <div id="primary" class="content-area clr">
        <div id="content" class="site-content clr">
            <article class="single-page-article clr">
                <div class="entry clr" itemprop="text">
                    <p><b><strong>DISCLAIMER </strong></b></p>
                    <p><b><strong>WEBSITE DISCLAIMER</strong></b></p>
                    <p>The information provided by Quotes And Cloud (“we,” “us” or “our”) on http://quotesandcloud.in (the “Site”) is for general informational purposes only. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site. UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR RELIANCE ON ANY INFORMATION PROVIDED ON THE SITE. YOUR USE OF THE SITE AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE IS SOLELY AT YOUR OWN RISK.</p>
                    <p>&nbsp;</p>
                    <p><b><strong>EXTERNAL LINKS DISCLAIMER</strong></b></p>
                    <p>The Site may contain (or you may be sent through the Site) links to other websites or content belonging to or originating from third parties or links to websites and features in banners or other advertising. Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR FEATURE LINKED IN ANY BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</p>
                    <p>&nbsp;</p>
                    <p><b><strong>AFFILIATES DISCLAIMER</strong></b></p>
                    <p>The Site may contain links to affiliate websites, and we receive an affiliate commission for any
                        purchases made by you on the affiliate website using such links. Our affiliates include the
                        following:</p>
                    <ul>
                        <li data-custom-class="body_text"> AvantLink</li>
                        <li data-custom-class="body_text"> CJ Affiliate by Conversant</li>
                        <li data-custom-class="body_text"> Clickbank</li>
                        <li data-custom-class="body_text"> Rakuten Affiliate Network</li>
                        <li data-custom-class="body_text"> ShareASale</li>
                    </ul>
                    <p>We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn advertising fees by linking to Amazon.com and affiliated websites.</p>
                    <h5>Last Updated: 17th Dec 2020</h5>
                </div>
            </article>
        </div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #content-wrap -->

{% endblock body %}
